$bs-gray-100: #f8f9fa !default;
$bs-gray-200: #e9ecef !default;
$bs-gray-300: #dee2e6 !default;
$bs-gray-400: #ced4da !default;
$bs-gray-500: #adb5bd !default;
$bs-gray-600: #6c757d !default;
$bs-gray-700: #495057 !default;
$bs-gray-800: #343a40 !default;
$bs-gray-900: #212529 !default;

$bs-blue: #0d6efd !default;
$bs-indigo: #6610f2 !default;
$bs-purple: #6f42c1 !default;
$bs-pink: #d63384 !default;
$bs-red: #dc3545 !default;
$bs-orange: #fd7e14 !default;
$bs-yellow: #ffc107 !default;
$bs-green: #198754 !default;
$bs-teal: #20c997 !default;
$bs-cyan: #0dcaf0 !default;
